<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <properties>
        <property name="LOG_HOME">/var/company/model/logs</property>
        <property name="APP_KEY">${sys:app.key}</property>
        <property name="DEFAULT_PATTERN_LAYOUT" >%d %t %-5p (%F:%L) - %m%n</property>
    </properties>

    <appenders>
        <!--命令行日志-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${DEFAULT_PATTERN_LAYOUT}" charset="UTF-8"/>
        </Console>
    
        <!--XMDFile异步磁盘日志配置示例-->
        <!--默认按天&按512M文件大小切分日志，默认最多保留30个日志文件。-->
        <!--目录为/opt/logs/${appkey} 或 /data/applogs/${appkey}，优先选用磁盘挂载目录-->
        <!--注意：fileName前会自动增加文件路径，只配置文件名即可-->
        <XMDFile name="File" fileName="${APP_KEY}.log" includeLocation="true" xmdFilePath="${LOG_HOME}">
            <PatternLayout pattern="${DEFAULT_PATTERN_LAYOUT}" charset="UTF-8"/>
        </XMDFile>

        <XMDFile name="errorFile" fileName="${APP_KEY}.error.log" includeLocation="true" xmdFilePath="${LOG_HOME}">
            <PatternLayout pattern="${DEFAULT_PATTERN_LAYOUT}" charset="UTF-8"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </XMDFile>

        <XMDFile name="access_kpi" fileName="${APP_KEY}_access_kpi.log" includeLocation="true" xmdFilePath="${LOG_HOME}">
            <PatternLayout pattern="${DEFAULT_PATTERN_LAYOUT}" charset="UTF-8"/>
        </XMDFile>

        <!--敏感数据日志改造与接入-->
        <Scribe name="ScribeAppenderLog">
            <!-- 在指定日志名方面，scribeCategory 和 appkey 两者至少存在一种，且 scribeCategory 高于 appkey。-->
            <!-- <Property name="scribeCategory">data_update_test_lc</Property> -->
            <LcLayout/>
        </Scribe>
        <Async name="ScribeAsyncAppenderLog" blocking="false">
            <AppenderRef ref="ScribeAppenderLog"/>
        </Async>

    </appenders>

    <loggers>
        <logger name="org.springframework.aop" additivity="false" level="trace" includeLocation="true">
            <appender-ref ref="access_kpi" />
        </logger>

        <logger name="com.letus179" level="info" includeLocation="true"/>
        <logger name="org.springframework.core" level="info" includeLocation="true"/>
        <logger name="org.springframework.beans" level="info" includeLocation="true"/>
        <logger name="org.springframework.context" level="info" includeLocation="true"/>
        <logger name="org.springframework.web" level="info" includeLocation="true"/>

        <root level="info" includeLocation="true">
            <appender-ref ref="File"/>
            <appender-ref ref="errorFile"/>
            <appender-ref ref="Console"/>
            
        </root>
    </loggers>
</configuration>